<%= form_for @user, :html => { :multipart => true }  do |f| %>
	<%= f.file_field :avatar %>

	<%= render partial: 'users/errors', locals:{instance:@user} %>
	<div class="form-group">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="form-group">
		<%= f.label :img_url %>
		<%= f.text_field :img_url %>
	</div>

	<div class="form-group">
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>

	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>